<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="data" method = "post">
{% csrf_token %}

  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>



  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" ><br><br>

  <label for="lname">ROLL NO: </label><br>
  <input type="text" id="lname" name="rollno" ><br><br>

  <label for="lname">AGE: </label><br>
  <input type="text" id="lname" name="age" ><br><br>


  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>